.app {
  /*width: 50%;*/
  margin: 0 20px;
}

.caption {
  text-align: center;
  font-family: sans-serif;
  margin: 20px 0;
  color: #1a2146;

}

.app_wrap {
  display: flex;
  /*justify-content: space-around;*/
}

